<ion-header>
    <ion-navbar>
      <ion-title>Vos offres</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-list *ngIf="userAds">
      <button ion-item *ngFor="let ad of userAds" (click)="onLoadOffre(ad)">
        {{ ad.title }}, {{ad.healthStructure.department}}
      </button>
    </ion-list>
    <ion-row *ngIf="userAds.length==0">
      Aucune offre déposé pour le moment.
    </ion-row>
  </ion-content>

  <ion-footer padding align-self-center>
        <button ion-button block color="light" (click)="createNewAd()">Ajouter une nouvelle offre</button>
  </ion-footer>
