<ion-header>
    <ion-navbar>
      <ion-title>Vos offres</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <ion-list *ngIf="userAds">
      <ion-item text-wrap *ngFor="let offre of userAds | slice:0:4; let i=index " (click)="onLoadOffre(offre)">
        <ion-label>
          <h2>{{ offre.title }}</h2>
          <div style="font-size:11px">
            <ion-note>{{offre.healthStructure.city}}, {{offre.createdAt| date: 'mediumDate'}} {{offre.createdAt| date: 'shortTime'}}</ion-note>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-row *ngIf="userAds.length==0">
      Aucune offre déposé pour le moment.
    </ion-row>
  </ion-content>

  <ion-footer padding align-self-center>
        <button ion-button block color="light" (click)="createNewAd()">Ajouter une nouvelle offre</button>
  </ion-footer>
