<ion-header>
  <ion-navbar>
    <ion-title>Offres</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--  <ion-refresher (ionRefresh)="doRefresh($event)" pull-factor="0.5" pullMax="200">-->
<!--    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">-->
<!--    </ion-refresher-content>-->
<!--  </ion-refresher>-->
  <div *ngIf="displayResults">
      <ion-title no-lines>
        <span item-start>Résultat de votre recherche</span>
        <button item-end ion-button color="danger" (click)="resetSearch()">
          <ion-icon name="close" ></ion-icon>
        </button>
      </ion-title>
    <ion-chip *ngFor="let filter of filtersApplied">
      <ion-label>{{ filter }}</ion-label>
    </ion-chip>
    <ion-list *ngIf="searchResultList">
      <button ion-item *ngFor="let result of searchResultList" (click)="onLoadOffre(result)">
        {{ result.title }}, {{result.healthStructure.city}}, {{result.medicalField}}, {{result.createdAt}}
      </button>
    </ion-list>
  </div>
  <div *ngIf="!displayResults">
    <ion-title>Les plus récentes</ion-title>
    <ion-list>
      <ion-item text-wrap *ngFor="let offre of mostRecent | slice:0:4; let i=index " (click)="onLoadOffre(offre)">
        <ion-label>
          <h2>{{ offre.title }}</h2>
          <div style="font-size:11px">
            <ion-note>{{offre.healthStructure.city}}, {{offre.createdAt| date: 'mediumDate'}} {{offre.createdAt| date: 'shortTime'}}</ion-note>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-title>Dans votre domaine médical</ion-title>
    <ion-list>
      <ion-item text-wrap *ngFor="let offre of sameSpeciality | slice:0:4; let i=index " (click)="onLoadOffre(offre)">
        <ion-label>
          <h2>{{ offre.title }}</h2>
          <div style="font-size:11px">
            <ion-note>{{offre.healthStructure.city}}, {{offre.createdAt| date: 'mediumDate'}} {{offre.createdAt| date: 'shortTime'}}</ion-note>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>

