<ion-header>
  <ion-navbar>
    <ion-title>Offres</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--  <ion-refresher (ionRefresh)="doRefresh($event)" pull-factor="0.5" pullMax="200">-->
<!--    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">-->
<!--    </ion-refresher-content>-->
<!--  </ion-refresher>-->
  <div *ngIf="displayResults">
      <ion-title no-lines>
        Résultat de votre recherche
      </ion-title>
    <ion-chip *ngIf=filtersApplied.medicalField>
      <ion-label>{{ adService.DOMAINEMEDICAL[filtersApplied.medicalField-1] }}</ion-label>
      <ion-icon name="close" color="light" (click)=removeFilter(0)></ion-icon>
    </ion-chip>
    <ion-chip *ngIf=filtersApplied.postalCode>
      <ion-label>{{ filtersApplied.postalCode }}</ion-label>
      <ion-icon name="close" color="light" (click)=removeFilter(1)></ion-icon>
    </ion-chip>
    <ion-chip *ngIf=filtersApplied.adType>
      <ion-label>{{ adService.TYPEOFFRE[filtersApplied.adType-1] }}</ion-label>
      <ion-icon name="close" color="light" (click)=removeFilter(2)></ion-icon>
    </ion-chip>
    <ion-chip *ngIf=filtersApplied.structureType>
      <ion-label>{{ adService.HEALTHSTRUCTURETYPE[filtersApplied.structureType-1] }}</ion-label>
      <ion-icon name="close" color="light" (click)=removeFilter(3)></ion-icon>
    </ion-chip>
    <ion-list *ngIf="searchResultList">
      <ion-item text-wrap *ngFor="let result of searchResultList | slice:0:10; let i=index " (click)="onLoadOffre(result)">
        <ion-label>
          <h2>{{ result.title }}</h2>
          <div style="font-size:11px">
            <ion-note>{{result.healthStructure.city}}, {{result.createdAt| date: 'mediumDate'}} {{result.createdAt| date: 'shortTime'}}</ion-note>
          </div>
        </ion-label>
      </ion-item>
<!--      <button ion-item *ngFor="let result of searchResultList" (click)="onLoadOffre(result)">-->
<!--        {{ result.title }}, {{result.healthStructure.city}}, {{result.medicalField}}, {{result.createdAt}}-->
<!--      </button>-->
    </ion-list>
  </div>
  <div *ngIf="!displayResults">
    <ion-title>Les plus récentes</ion-title>
    <ion-list>
      <ion-item text-wrap *ngFor="let offre of mostRecent | slice:0:4; let i=index " (click)="onLoadOffre(offre)">
        <ion-label>
          <h2>{{ offre.title }}</h2>
          <div style="font-size:11px">
            <ion-note>{{offre.healthStructure.city}}, {{offre.createdAt| date: 'mediumDate'}} {{offre.createdAt| date: 'shortTime'}}</ion-note>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-title>Dans votre domaine médical</ion-title>
    <ion-list>
      <ion-item text-wrap *ngFor="let offre of sameSpeciality | slice:0:4; let i=index " (click)="onLoadOffre(offre)">
        <ion-label>
          <h2>{{ offre.title }}</h2>
          <div style="font-size:11px">
            <ion-note>{{offre.healthStructure.city}}, {{offre.createdAt| date: 'mediumDate'}} {{offre.createdAt| date: 'shortTime'}}</ion-note>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>


</ion-content>

