ion-content { /*background-color: transparent !important;*/
    background-color: #ff6e0e !important;
 }

ion-refresher {
    background: #ff6e0e !important;
   /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to top, #FF9854, #ff6e0e); */
   background: -webkit-linear-gradient(#ff6e0e) !important;
   /* Chrome 10–25, Safari 5.1–6 */
   /* background: linear-gradient(to top, #FF9854, #ff6e0e); */
   background: linear-gradient(#ff6e0e) !important;
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-color: #ff6e0e !important;
}

