<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissSearchModal()">Fermer</button>
    </ion-buttons>
    <ion-title>Recherche</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="searchForm">
    <ion-list>

      <ion-item>
        <ion-label>Spécialité</ion-label>
        <ion-select formControlName="medicalField">
          <ion-option [value]="medicalField.id" *ngFor="let medicalField of medicalFields">{{ medicalField.title }}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>Département</ion-label>
        <ion-input placeholder="" formControlName="postalCode"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Type de structure</ion-label>
        <ion-select formControlName="structureType">
          <ion-option [value]="structureType.id" *ngFor="let structureType of structureTypes">{{ structureType.title}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Type d'offre</ion-label>
        <ion-select formControlName="adType" >
          <ion-option [value]="item.id" *ngFor="let item of adTypes">{{ item.title }}</ion-option>
        </ion-select>
      </ion-item>

      <button ion-button block (click)="validateSearchFilters()">Rechercher</button>
    </ion-list>
  </form>

</ion-content>

