<ion-header>
  <ion-navbar>
    <ion-title>Nouvelle offre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="postAdForm">
    <ion-list>
      <ion-item-divider>Informations</ion-item-divider>
      <ion-item>
        <ion-label>Titre</ion-label>
        <ion-input placeholder="" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input placeholder="" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Domaine Médical</ion-label>
        <ion-select formControlName="medicalField" >
          <ion-option [value]="item.id" *ngFor="let item of medicalFields">{{ item.title }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Type d'offre</ion-label>
        <ion-select formControlName="adType" >
          <ion-option [value]="item.id" *ngFor="let item of adTypes">{{ item.title }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>% de retrocession</ion-label>
        <ion-input placeholder="" formControlName="retrocession"></ion-input>
      </ion-item>
      <ion-item-divider>Structure Médicale</ion-item-divider>
      <ion-item>
        <ion-label>Nom</ion-label>
        <ion-input placeholder="" formControlName="hSName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type de Structure</ion-label>
        <ion-select formControlName="hSStructureType" >
          <ion-option [value]="item.id" *ngFor="let item of structureTypes">{{ item.title }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Code Postal</ion-label>
        <ion-input placeholder="" formControlName="hSPostalCode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ville</ion-label>
        <ion-input placeholder="" formControlName="hSCity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Département</ion-label>
        <ion-input placeholder="" formControlName="hSDepartment"></ion-input>
      </ion-item>
    </ion-list>
    <ion-label *ngIf="error">{{error}}</ion-label>
    <button ion-button block color="light" (click)="onSubmitForm()">Ajouter</button>
  </form>
</ion-content>
