<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-buttons start *ngIf="offre">
      <button ion-button color=black (click)="fav(offre)"> <!-- TODO -->
        
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="offre">{{ offre.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="offre">
    <ion-card-header>{{ offre.title }}</ion-card-header>

    <ion-card-content>
      <p >{{ offre.description }}</p>
    </ion-card-content>

    <ion-card>
      <ion-card-header>Structure</ion-card-header>
      <ion-card-content>
        <p >Nom : {{ offre.healthStructure.name }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Type : {{ adService.HEALTHSTRUCTURETYPE[offre.healthStructure.structureType-1] }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Ville : {{ offre.healthStructure.city }}</p>
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-header>Détails</ion-card-header>
      <ion-card-content>
        <p >Annonceur :  {{ offre.advertiser.name }} {{ offre.advertiser.lastName }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Domaine médical : {{ adService.DOMAINEMEDICAL[offre.medicalField-1] }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Type : {{ adService.TYPEOFFRE[offre.adType-1] }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Rétrocession : {{ offre.retrocession }} %</p>
      </ion-card-content>
      <ion-card-content>
        <p >Posté le : {{offre.createdAt| date: 'mediumDate'}} {{offre.createdAt| date: 'shortTime'}}</p>
      </ion-card-content>
    </ion-card>


    <ion-grid>
      <ion-row>
        <ion-col>
          <button *ngIf="offre.advertiser._id==userProfil._id" ion-button full color="primary" (click)="deleteOffre(offre)">Supprimer l'offre</button>
          <button *ngIf="offre.advertiser._id!=userProfil._id" ion-button full color="primary" (click)="contactOwner(offre)">Prendre contact</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
