<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ offre.titre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>{{ offre.title }} : {{offre.healthStructure.city}}</ion-card-header>

    <ion-card-content>
      <p >Description de l'offre : {{ offre.description }}</p>
    </ion-card-content>
    <ion-card-content>
      <p >Domaine médical de l'offre : {{ adService.DOMAINEMEDICAL[offre.medicalField-1] }}</p>
    </ion-card-content>
    <ion-card-content>
      <p >Type de l'offre : {{ adService.TYPEOFFRE[offre.adType-1] }}</p>
    </ion-card-content>

    <ion-card>
      <ion-card-header>Structure</ion-card-header>
      <ion-card-content>
        <p >nom de la structure : {{ offre.healthStructure.name }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Type de la structure : {{ adService.HEALTHSTRUCTURETYPE[offre.healthStructure.structureType-1] }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Ville de la structure : {{ offre.healthStructure.city }}</p>
      </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-content>
        <p >Offre proposé par : {{ offre.advertiser }}</p>
      </ion-card-content>
      <ion-card-content>
        <p >Avec une rétrocession de : {{ offre.retrocession }} %</p>
      </ion-card-content>
      <ion-card-content>
        <p >le : {{offre.createdAt| date: 'mediumDate'}} {{offre.createdAt| date: 'shortTime'}}</p>
      </ion-card-content>
    </ion-card>


    <ion-grid>
      <ion-row>
        <ion-col>
          <button *ngIf="offre.advertiser==userProfil._id" ion-button full color="primary" (click)="deleteOffre(offre)">Supprimer l'offre</button>
          <button *ngIf="offre.advertiser!=userProfil._id" ion-button full color="primary" (click)="contactOwner(offre)">Prendre contact</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button *ngIf="offre.isAvailable" ion-button full color="secondary" (click)="fav(offre)">Ajouter à mes favoris</button>
          <button *ngIf="!offre.isAvailable" ion-button full color="secondary" (click)="fav(offre)">Retirer de mes favoris</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
